<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038320013803-bn827uhojlcmhn5b02qltk464j2ee6t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038320013803-bn827uhojlcmhn5b02qltk464j2ee6t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAxCrEsIn4Dzw4oowO7upNN1WkiATV06zA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038320013803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YoonSuLee.15.WarningPush</string>
	<key>PROJECT_ID</key>
	<string>warningpush-15ec8</string>
	<key>STORAGE_BUCKET</key>
	<string>warningpush-15ec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038320013803:ios:59da90bbe8a865f10f89ae</string>
</dict>
</plist>